{% extends 'base.html' %}
{% block content %}

    <body>
    <div class="py-5 ">
        <div class="container class="item-row"">
            <div class="row hidden-md-up">
                <div class="col-md-4 center-column">
                    <div class="card " style="border: none">
                        {% for object in expired_task %}
                        <div class="card-block">
                            <h4 class="card-title">{{ object.title |capfirst |title }}</h4>
                            <h6 class="card-subtitle text-muted">remaining time
                                : {{ task.EndDateTimeField|timeuntil }}</h6>
                            <p class="card-text p-y-1">{{ object.description |capfirst }}</p>
                            <h6 class="card-subtitle text-muted">{{ object.priority }}</h6>
                            <a href="{% url 'TaskList' %}" class="card-link">cancel</a>

                        </div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <br>

        </div>
    </div>


{% endblock content %}